.hs-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  max-height: 420px;
  scroll-behavior: smooth;
  max-width: 90vw;
  margin: 0 auto;

  @include breakpoint(sm) {
    max-height: 600px;
  }

  .hs-item {
    display: flex;
    align-items: center;
    margin-right: 150px;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    &__img {
      flex-shrink: 0;
      overflow-x: auto;
      border-radius: 28px;
      box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.3);
      margin: 40px auto;
      min-width: 460px;
      height: 280px;
    }

    &__text {
      margin-left: 40px;
      max-width: 300px;
      min-width: 300px;

      @include breakpoint(sm) {
        margin-left: 0;
      }
    }
  }
}

.perspective-3d {
  perspective: 1000px;
  display: inline-block;

  &--img {
    transform-style: preserve-3d;
    transition: 1s transform;
  }
}