// colors
:root {
    --color-black: #181818;
    --color-gray-light: #d1d1d1;
    --background: #fafafa;
    --color-primary: #0439D9;

    --text-color: var(--color-black);
}





// @media (prefers-color-scheme: dark) {
//     :root {
//     }
// }