// colors
:root {
    --color-tertiary: #66BB6A;
    --color-bg: #F5F5F7;
    --color-link: #3210f1;
    --color-gray: #6C6C6C;
    --light-gray: #818181;

    // dark mode
    // --color-bg: #0A0B10;
    --color-text: #fff
}