// colors
:root {
    --color-black: #181818;
    --color-gray-light: #d1d1d1;
    --color-gray-md: #8d8c8c;
    --background: #fafafa;
    --color-primary: #0439d9;
    --color-primary-dark: #022fb4;

    --text-color: var(--color-black);
    --box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.1);

    --my-color: 4, 56, 215;
}





// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #e95252;
//     }
// }