{{ define "main" }}
<main>
  <section class="episodes container">
    <h2 class="container">Episodes Archive</h2>
    <ol class="container recent-episodes__episodes">
      {{ range $.Site.Data.episodes }}
      <li class="recent-episodes__episodes__episode">
        <img src="https://i1.sndcdn.com/artworks-d3ydzVw4nj8ogeLR-0zx27g-t500x500.jpg" alt="Cover Art" />
        <div class="recent-episodes__episodes__episode__text">
          <span class="date">{{ .date }}</span>
          <h4 class="episode-title">{{ .title }}</h4>
          <a class="link--sc" href="{{.link}}">SoundCloud</a>
        </div>
      </li>
      {{ end }}
    </ol>
  </section>
</main>
{{ end }}