.btn {
    cursor: pointer;
    transition: all 0.3s;

    &--hs {
        @extend .btn;
        border: 1px solid white;
        // border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        color: white;
        // color: black;
        fill: black;

        &:focus {
            outline: 1px solid black;
            outline-color: lightblue;
        }
    }

    &--cta {
        @extend.btn;
        border: 1px solid white;
        color: white;
        padding: 16px 32px;
        font-size: 17px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;

        &:hover {
            background-color: #fff;
            color: black;
        }
    }
}