* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}

button {
    display: inline-block;
    background: none;
    outline: none;
    border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}