.link {
    cursor: pointer;
    width: max-content;

    &--cta {
        @extend .link;
        color: white;
        background-color: var(--color-primary);
        height: min-content;
        padding: 12px 25px;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &--sc {
        @extend .link;
        color: white;
        background-color: #FF5722;
        padding: 2px 15px;
        border-radius: 10px;
        box-shadow: 4px 4px 0 #C40000;

        @include breakpoint(sm) {
            width: 100%;
        }
    }
}

.prevNext {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;

    &--top {
        margin-bottom: 50px;
        text-align: center;
    }

    &__controls {
        display: flex;
    }
}