nav {
  padding-top: 20px;
  background-color: var(--background);
  z-index: 10;

  .nav {
    display: flex;
    width: 100%;

    @include breakpoint(md) {
      // mobile first
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "togglebutton logo"
        "navigation navigation";
    }
  }

  // hamburger menu icon
  .hamburger {
    justify-self: end;
  }


  // routes
  .nav__items {
    display: grid;
    grid-area: navigation;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--item {
      text-align: center;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          opacity: 0;
          transition: opacity 0.2s #{$i * 0.1}s ease-in;
        }
      }
    }

    a,
    a:link,
    a:active,
    a:visited {
      width: 100%;
      font-size: 18px;
      padding: 10px 15px;
      display: inline-block;
    }
  }

  // hamburger menu expanded
  [aria-expanded="true"]~.nav__items {
    height: 240px; //height of menu

    li {
      opacity: 1;
      border-bottom: 1px solid var(--color-gray-light);
    }

    @media (min-width: 769px) {
      padding: 0;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: auto;
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
  }

  // larger screens
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray-light);

    // routes
    .nav__items {
      display: flex;
      // justify-content: flex-end;
      height: initial;
      opacity: 1;
      gap: 20px;

      li:nth-child(-n + 6) {
        opacity: 1;
      }

      a,
      a:link,
      a:active,
      a:visited {
        padding: 0 15px;
      }

      a:hover {
        background-color: var(--color-primary);
        color: white;
        transition: all .3s;
      }
    }
  }
}