{{ define "main" }}
<section class="container blog">
  <h1>Blog</h1>

  <ul class='blog__list'>
    {{ range sort (where .Pages "Section" "blog") "Date" "desc"}}
    <li>
      <a class='blog__list__item' href="{{ .RelPermalink }}">
        <img class='blog__list__item--img' src="{{.Params.thumbnail}}" alt="">
        <div class="blog__list__item__text">
          <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
          <h3>{{ .Title }}</h3>
          <p>{{ .Params.description | truncate 80 }}</p>
          <ul class='tags'>
            {{ range .Params.tags }}
            <li class="tags--tag">{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}