{{define "main" }}
<main>
  <section class="container post">
    <header>
      <h1>{{ .Title }}</h1>
      <h3 class="description">{{ .Params.description }}</h3>
      <hr>
      <div class="meta-data">
        <span>Brandon Herman</span>
        <div>
          <span class="post-date">{{ .PublishDate.Format "January 2, 2006" }} | </span>
          <span>{{.ReadingTime}} min Read</span>
        </div>
      </div>
      <figure>
        <img
          src="{{ .Params.thumbnail }}"
          alt="Illustration for article: {{.Params.image_caption}}">
        <figcaption>{{.Params.image_caption}}</figcaption>
      </figure>
    </header>
    <article class="content">
      {{ .Content }}
    </article>
  </section>
</main>
{{ end }}