{{ define "main" }}
<main>

  <section class="about">
    <div class="about__hero">
      <div class=" about__hero__text container">
        <h1 class='title'>About the Herman Show</h1>
        <h2 class='sub-title'>{{.Params.subTitle}}</h2>
        <p>{{.Params.description}}</p>
      </div>
    </div>
  </section>

  <section class="about-host container">
    <h2>About the Host</h2>
    <div class="about-host__grid">
      <img src="/images/brandonHerman.jpg" alt="Profile image of Brandon Herman">
      <div class="about-host__grid__text">
        <h2>Brandon Herman</h2>
        <p>{{.Params.host_bio}}</p>
      </div>
    </div>
  </section>

  <section class="about-team container">
    <h2>The Team</h2>
    <div class="about-team__grid">
      {{ range .Params.team }}
      <div class="about-team__member">
        <img src="https://picsum.photos/300/200" alt="">
        <h4>{{ .name }}</h4>
        <h6>{{ .job }}</h6>
      </div>
      {{ end }}
  </section>

  <section class="about-contest container">
    <h2>Contest Rules</h2>
    <a href='/docs/contest_rules.pdf' target='_blank' class='link--cta'>View Contest Rules</a>
  </section>
</main>
{{ end }}