{{ define "main" }}
<main>

  <section class="about">
    <div class="about__hero">
      <div class=" about__hero__text container">
        <h1 class='title'>About the Herman Show</h1>
        <h2 class='sub-title'>Mustache lo-fi before they sold outsustainable intelligentsia la croix 90’staiyaki iceland
          cray woke</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed
          diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          diam</p>
      </div>
    </div>
  </section>

  <section class="about-host container">
    <h2>About the Host</h2>
    <div class="about-host__grid">
      <img src="/images/brandonHerman.jpg" alt="Profile image of Brandon Herman">
      <div class="about-host__grid__text">
        <h2>Brandon Herman</h2>
        <p>I’m baby taiyaki next level gluten-free, polaroid hashtag streetart mumblecore farm-to-table quinoa
          typewriter salvia. Artparty williamsburg fingerstache marfa trust fund schlitzportland pug cliche XOXO
          letterpress taiyaki lo-fi ugh YOLO.</p>
      </div>
    </div>
  </section>

  <section class="about-team container">
    <h2>The Team</h2>
    <div class="about-team__grid">
      {{ range .Params.team }}
      <div class="about-team__member">
        <img src="https://picsum.photos/300/200" alt="">
        <h4>{{ .name }}</h4>
        <h6>{{ .job }}</h6>
      </div>
      {{ end }}
  </section>

  <section class="contact container">
    <h2>Contact Us</h2>
    <a href='/docs/contest_rules.pdf' target='_blank' class='link--cta'>View Contest Rules</a>
  </section>
</main>
{{ end }}