{{ define "main" }}
<section class="about">
  <div class="about__hero">
    <div class=" about__hero__text container">
      <h1 class='title'>About the Herman Show</h1>
      <h2 class='sub-title'>Mustache lo-fi before they sold outsustainable intelligentsia la croix 90’staiyaki iceland
        cray woke</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam</p>
    </div>
  </div>
</section>
{{ end }}