main {
  display: grid;
  gap: 150px;

  @include breakpoint(sm) {
    gap: 50px;
  }
}

.about {
  &__hero {
    background-image: url('/images/studio.webp');
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(md) {
      background-position: right;
    }

    &__text {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 40px 0;

      @include breakpoint(md) {
        grid-template-columns: 1fr;
        margin-top: 20px;
      }

      .sub-title {
        font-weight: 400;
        grid-column: 1;
        line-height: 50px;
      }

      p {
        grid-column: 1;
      }

      h1,
      h2,
      p {
        color: white;
      }
    }
  }
}

.about-host {

  &__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: end;

    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }
  }
}

.about-team {
  h2 {
    text-align: center;
  }

  &__grid {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 980px;
  }

  &__member {
    text-align: center;

    img {
      margin-bottom: 15px;
    }

    h4 {
      margin-bottom: 5px;
    }
  }
}