.blog {

  &__list {
    display: grid;
    gap: 50px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 800px;

    &__item {
      display: grid;
      grid-template-columns: 2fr 3fr;
      border: 2px solid rgb(214, 214, 214);

      @include breakpoint(sm) {
        grid-template-columns: 1fr
      }

      &--img {
        height: 100%;
        object-fit: cover;
      }

      &__text {
        padding: 20px;

        span {
          margin-bottom: 4px;
          font-size: 15px;
        }

        .tags {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;

          &--tag {
            padding: 0 15px;
            font-size: 18px;
            color: var(--color-primary);
            border-radius: 15px;
            background-color: rgba(var(--my-color), .1);
          }
        }
      }
    }
  }
}