.episodes {
  margin-top: 40px;

  .plays {
    display: flex;
    gap: 5px;
    align-items: center;

    span {
      margin-left: 10px;
      margin-bottom: 4px;
      font-size: 15px;

      @include breakpoint(sm) {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

// .img {
//   background-image: url('https://i1.sndcdn.com/artworks-d3ydzVw4nj8ogeLR-0zx27g-t500x500.jpg');
//   background-position: center;
//   height: 100%;
//   background-size: cover;
// }