.episodes {
  margin-top: 40px;

  .plays {
    display: flex;
    gap: 5px;
    align-items: center;

    span {
      margin-left: 10px;
      margin-bottom: 4px;
      font-size: 15px;

      @include breakpoint(sm) {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}