.container {
    display: grid;
    gap: 100px;
    margin-top: 85px;

    @include breakpoint(sm) {
        gap: 20px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

    @include breakpoint(sm) {
        padding: 20px;
        background: #fff;
        text-align: center;
    }

    &--img {
        margin-top: 40px;
        max-width: 1000px;
    }
}

.case-studies {
    display: grid;
    gap: 200px;
    background-color: #fff;
    padding: 100px 0;

    @include breakpoint(md) {
        gap: 100px;
        padding: 20px;
    }

    @include breakpoint(sm) {
        gap: 50px;
    }

    &--title {
        text-align: center;
    }

    .case-study {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint(md) {
            flex-direction: column-reverse;
            text-align: center;

            &>* {
                margin-bottom: 30px;
            }
        }

        &__text {
            max-width: 400px;
            display: grid;
            gap: 15px;
            justify-content: center;

            @include breakpoint(md) {
                justify-items: center;
                margin: 0 auto;
                max-width: 100%;
                gap: 10px;

            }

            &__tags {
                display: flex;
                align-items: center;

                &--tag {
                    background-color: rgba(#3210f1, var(--lighten));
                    color: #3210f1;
                    padding: 8px 13px;
                    border-radius: 15px;
                }

                &--tag:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        &--img {
            max-width: 420px;
            height: auto;

            @include breakpoint(md) {
                max-width: 100%;
            }
        }
    }
}

img {
    width: 100%;
    height: auto;
}

.reverse {
    flex-direction: row-reverse;
}

.notable-projects {
    justify-content: center;
    background-color: #fff;
    margin: 100px;
    padding: 100px;
    text-align: center;

    @include breakpoint(md) {
        margin: 50px;
        padding: 50px
    }

    @include breakpoint(sm) {
        padding: 20px;
        margin: 0;
    }

    &__grid {
        margin-top: 100px;
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoint(sm) {
            margin-top: 30px;
        }

        @include breakpoint(md) {
            grid-template-columns: 1fr;
        }

        &__project {
            &__image {
                position: relative;
            }

            &--title {
                margin-top: 10px;
            }
        }
    }
}

.facts {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    @include breakpoint(md) {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    @include breakpoint(sm) {
        background-color: #fff
    }

    &__fact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        *:not(:last-child) {
            margin-bottom: 10px;
        }

        &--icon {
            width: 50px;
            height: auto;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            color: var(--color-gray);
            margin-top: 10px;

            &--tag:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

.about {
    &--title {
        text-align: center;
    }

    &__grid {
        columns: 2 auto;
        column-gap: 60px;
        margin: 100px auto;
        max-width: 1200px;
        padding: 20px;

        @include breakpoint(md) {
            columns: 1 auto;
            margin: 50px;
        }

        @include breakpoint(sm) {
            columns: 1 auto;
            margin: 0;
        }

        &>* {
            background-color: #fff;
            padding: 44px;
            display: inline-block;
            margin: 30px auto;
            width: 100%;
            border-radius: 40px;
            box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.04);

            @include breakpoint(sm) {
                padding: 22px;
                margin: 10px 0px;
            }
        }

        &__img {
            text-align: center;
        }

        &__para {}

        &__skills {
            text-align: center;

            &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 25px;

                &>*:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        &__socials {
            width: 100%;
            text-align: center;

            &__icons {
                display: flex;
                justify-content: space-around;

                :hover>* {
                    fill: var(--color-link);
                    transition: all .3s;
                }
            }
        }
    }
}