<footer class=" container">
    <div class="footer__grid">
        <div class="footer__grid__about">
            <a href="/"><img class="footer__grid__about--img" src="/images/cover.png"
                    alt="The Herman Radio Network"></a>
            <p class="footer__grid__about--description">The Herman Show is produced in collaboration with WLTL and
                delivered
                to stations across the U.S & Canada</p>
            <div class="socials">
                <a href="#"><img class='svg' src="/icons/twitter.svg" alt=""></a>
                <a href="#"><img class='svg' src="/icons/facebook.svg" alt=""></a>
                <a href="#"><img class='svg' src="/icons/soundcloud.svg" alt=""></a>
            </div>
        </div>
        <div class="footer__grid__sitemap">
            <ul>
                <li class="sitemap--item bold"><a href="/about">About</a></li>
                <li class="sitemap--item"><a href="/about/#host">Host</a></li>
                <li class="sitemap--item"><a href="/about/#team">Team</a></li>
                <li class="sitemap--item"><a href="/about/#contests">Contests</a></li>
            </ul>
            <ul>
                <li class="sitemap--item bold"><a href="/listen">Listen</a></li>
                <li class="sitemap--item"><a href="/listen">Where to Listen</a></li>
                <li class="sitemap--item"><a href="/listen">How to Listen</a></li>
            </ul>
            <ul>
                <li class="sitemap--item bold"><a href="/episodes">Episodes</a></li>
            </ul>
            <ul>
                <li class="sitemap--item bold"><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
    <span class="copyright">© 2020 The Herman Radio Network</span>

</footer>

<script src="/js/hamburger.js"></script>
</body>

</html>