{{ define "main" }}
<main>
  <section class="contact container">
    <form name="contact" method="POST" data-netlify="true">
      {{/*  Name  */}}
      <div>
        <label>Your Name:</label>
        <input name="name" type="text" class="msg" placeholder="Mickey Rooney" />
      </div>
      {{/*  Email  */}}
      <div>
        <label>Your Email:</label>
        <input name="email" type="email" class="msg" placeholder="mickeyrooney@gmail.com" />
      </div>

      {{/*  Inquiry  */}}
      <div class='inquiry'>
        <label>Inquiry Type:</label>
        <select name="inquiry_type" class='minimal'>
          <option>Inquiry Type</option>
          <option value="press">🎤 Press</option>
          <option value="general">🗣 General</option>
        </select>
      </div>

      {{/*  Msg  */}}
      <div>
        <label>Message:</label>
        <textarea name="text" class="msg" placeholder="Message..."></textarea>
      </div>

      <button class='contact-submit' type="submit" />Submit</button>
    </form>
  </section>
</main>
{{ end }}