{{ define "main" }}
<main>
  <section class="contact container">
    <form>
      {{/*  Name  */}}
      <div>
        <label>Your Name:</label>
        <input name="name" type="text" class="msg" placeholder="Mickey Rooney" />
      </div>
      {{/*  Email  */}}
      <div>
        <label>Your Email:</label>
        <input name="email" type="email" class="msg" placeholder="mickeyrooney@gmail.com" />
      </div>

      {{/*  Inquiry  */}}
      <div class='inquiry'>
        <label>Inquiry Type:</label>
        <select name="pets" id="pet-select" class='minimal'>
          <option>Inquiry Type</option>
          <option value="press">🎤 Press</option>
          <option value="general">🗣 General</option>
        </select>
      </div>

      {{/*  Msg  */}}
      <textarea name="text" class="msg" placeholder="Message..."></textarea>

      <button type="submit" value="Submit" />Submit</button>
    </form>
    {{/*  <form name="contact" method="POST" data-netlify="true">
      <label>Your Name:</label>
      <input type="text" name="name" />
      <label>Your Email:</label>
      <input type="email" name="email" />
      <label>Inquiry Type:</label>
      <select name="role[]" multiple>
        <option value="press">Press</option>
        <option value="general">General</option>
      </select>
      <label>Message:</label>
      <textarea name="message"></textarea>
      <button type="submit">Send</button>
    </form>  */}}
  </section>
</main>
{{ end }}